.container-main{
    display: flex;
    justify-content: center;
}


.products{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px; 
    background-color: #FFFF99;
    width: 25%;
    margin: 25px;
    font-size: 15px;

    span{
        font-weight: bold;
        font-size: 17px;
    }
}